.chat {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0px;
  margin-top: 25px;
  display: block;

  .video {
    width: 23vw;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    .me, .stranger {
      background-color: $lightgray;
      border-radius: $default-radius;
      height:  49%;
      width: 100%;
      position: absolute;
    }
    .stranger {
      top: 0px;
      left: 0px;
    }
    .me {
      bottom: 0px;
      left: 0px;
    }
  }
  .text {
    width: 72vw;
    height: 100%;
    // display: table;
    position: absolute;
    background-color: #fff;
    border-radius: $default-radius;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    .write-box {
      position: relative;
      width: 95%;
      border-top: 2px solid $lightgray;
      height: 110px;
      margin: auto;
      top: 100%;
      margin-top: -110px;
      overflow: hidden;

      textarea {
        font-family: $default-font;
        border: none 0px;
        outline: 0;
        &:focus {
          border: none 0px;
          outline: 0;
        }
        width: 80%;
        resize: none;
        padding-top: 10px;
        height: 100px;
        float: left;
      }
      button {
        float: right;
        margin-right: 5px;
        margin-top:20px;
        padding: 20px;
        opacity: .98;
        color: #fff;
        font-size: 0.95em;
      }
    }
  }
}
@media screen and (min-width: $mobile-width + 1) and (max-width: 960px) {
  .chat {
    .video {
      width: 30vw !important
    }
    .text {
      width: 63vw !important;
    }
  }
}
@media screen and (max-width: $mobile-width) {
  .chat {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    .video {
      width: 100% !important;
      height: 40%;
      /*
        to set automatic 16:9 aspect ratio, set:
        "padding-top: 56.25%"  and "width 100%;"
      */
      border-radius: 0px !important;
      .stranger {
        width: 100%;
        height: 100%;
      }
      .me {
        z-index: 1000;
        width: 30%;
        height: 0px;
        bottom: 10px;
        right: 10px;
        left: auto;
        padding-top: 16.875%;
      }
    }
    .text {
      width: 100% !important;
      height: 60% !important;
      position: absolute !important;
      background-color: #fff !important;
      border-radius: $default-radius !important;
      top:auto !important;
      bottom: 0px !important;
      left: 0px !important;
      right: 0px !important;
      border-radius: 0px !important;

      .write-box {
        height: 60px !important;
        margin-top: -60px !important;
        textarea {
          height: 50px !important;
          width: 100% !important;
          position: absolute;
        }
        button {
          float: right;
          margin-right: 0px;
          margin-top:10px !important;
          padding: 10px !important;
        }
      }
    }
  }
  @media screen and (max-height: 260px) {
    .chat {
      .video {
        .stranger {
          z-index: 1000 !important;
          width: 30% !important;
          height: 0px !important;
          bottom: 10px !important;
          left: 10px !important;
          right: auto !important;
          top: auto !important;
          padding-top: 16.875% !important;
        }
      }
    }
  }
}
