.btn {
  padding: 5px 10px;
  margin: 0px;
  color: $lightgray;
  background-color: lighten($darkgray, 0.5);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  &:active {
    outline: 0;
    border: 0px;
    background-color: yellow;
  }
  &.green {
    background-color: $green;
  }
}
